$background_color: #016aa3;
$text_color: #000;
$text_color-special: #fff;
$text_color_head: #000264;
$background_head_card: #7ed2ff7a;
$background_rows: #ace2ff33;
$background_button: #009b0d;
$background_special_elements: #000c75;
$line_color: #aaaaaa;
$strong_line_color: #000264;

$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$tabletS: 800px;
$laptop: 1024px;
$desktop: 1440px;

@mixin container-text-icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
}

@mixin adaptive-main-container {
    margin: 0 auto;
    @media screen and (min-width: $mobileS) {
        max-width: calc($mobileS - 20px);
    }

    @media screen and (min-width: $mobileM) {
        max-width: calc($mobileM - 40px);
    }

    @media screen and (min-width: $mobileL) {
        max-width: calc($mobileL - 40px);
    }

    @media screen and (min-width: $tablet) {
        max-width: calc($tablet - 80px);
    }

    @media screen and (min-width: $tabletS) {
        max-width: calc($tabletS - 80px);
    }

    @media screen and (min-width: $laptop) {
        max-width: calc($laptop - 100px);
    }

    @media screen and (min-width: $desktop) {
        max-width: calc($desktop - 150px);
    }
}
