@import '../../styles/theme.scss';

footer {
    width: 100%;
    background: $background_color;
    color: $text_color-special;
    .footer__container {
        @include adaptive-main-container;
        text-align: center;
        padding: 20px 0;
    }
}

