@import "../../../../styles/theme.scss";

.table {
    display: flex;
    flex-direction: column;

    .table__teacher-column {
        @media screen and (min-width: $mobileS) {
            border-top: 1px solid $line_color;
        }

        @media screen and (min-width: $tablet) {
            border-top: none;
        }
    }

    .table__item {
        text-align: center;
        display: flex;
        flex-direction: row;
        @media screen and (min-width: $mobileS) {
            flex-wrap: wrap;
        }

        @media screen and (min-width: $tablet) {
            flex-wrap: nowrap;
        }
    }

    .table__foot,
    .table__main-item {
        .table__container {
            @media screen and (min-width: $mobileS) {
                padding: 10px 0;
            }

            @media screen and (min-width: $tablet) {
                padding: 20px 0;
            }
        }
    }

    .table__main-item {
        @media screen and (min-width: $mobileS) {
            border-bottom: 2px solid $strong_line_color;
        }

        @media screen and (min-width: $tablet) {
            border-bottom: 1px solid $line_color;
        }
        .table__teacher-column {
            padding: 10px 0;

            .MuiOutlinedInput-root {
                padding: 0;
            }
        }

        .table__container-image {
            background: $background_special_elements;
            height: 39px;
            width: 45px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;
            transition: all .3s ease-out;

            .table__image-set-all {
                height: 30px;
                width: 25px;
            }

            &:hover {
                background: $background_color;
            }
        }

        .table__hours-column {
            @media screen and (min-width: $tablet) {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .table__teacher__more {
            transition: all 0.3s ease-out;
            display: flex;
            justify-content: space-between;
            @media screen and (min-width: $mobileS) {
                flex-direction: column;
            }

            @media screen and (min-width: $laptop) {
                flex-direction: row;
            }
            @media screen and (min-width: $desktop) {
                flex-direction: column;
            }
        }

        .table__gap-teacher__hidden {
            gap: 0;
        }

        .table__gap-teacher__show {
            gap: 15px;
        }

        .table__container-selector-first {
            transition: all 0.3s ease-out;
            display: flex;
            flex-direction: row;
            @media screen and (min-width: $laptop) {
                width: 100%;
            }
            @media screen and (min-width: $desktop) {
                width: auto;
            }
        }

        .table__container-selector-second {
            transition: all 0.3s ease-out;
            display: flex;
            flex-direction: row;
        }

        .table__groups {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;

            .table__input {
                background: transparent;
                border: none;
                max-width: 25px;
                padding: 5px;
                font-family: 'Roboto', sans-serif;
                font-size: 16px;
                font-weight: 700;

                &:active, &:hover, &:focus {
                    outline: 0;
                    outline-offset: 0;
                }
            }

            input[type="number"]::-webkit-outer-spin-button,
            input[type="number"]::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;

            }
            
            input[type='number'],
            input[type="number"]:hover,
            input[type="number"]:focus {
                appearance: none;
                -moz-appearance: textfield;
            }
        }
    }

    .table__container-image,
    .table__image-plus,
    .table__image-delete {
        cursor: pointer;
    }
}

.table__item__no-active-mobile {
    @media screen and (min-width: $mobileS) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: block;
    }
}

.table__head {
    border-bottom: 2px solid $strong_line_color;

    span {
        color: $text_color_head;
        font-weight: 700;
    }

    .table__container {
        padding: 10px 0;
    }

    .table__teacher-column {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .table__teacher__center {
        justify-content: center;
    }

    .table__teacher__space-around {
        justify-content: space-around;
    }

    .table__image-plus {
        height: 16px;
        width: 16px;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-out;
    }

    .table__image-plus__no-active {
        opacity: 0;
        visibility: hidden;
        width: 0;
    }

    .table__new-group {
        @include container-text-icon;
        opacity: 0;
        visibility: hidden;
        transition: all 0.3s ease-out;

        width: 0;
        height: 0;
    }

    .table__first-group {
        @include container-text-icon;
    }

    .table__new-group__no-active {
        opacity: 1;
        visibility: visible;
        width: auto;
        height: auto;
    }

    .table__image-delete {
        height: 19px;
        width: 19px;
    }
}

.table__main-item,
.table__foot {
    background: $background_rows;
}

.table__foot {
    .table__task-column {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .table__task__small {
        font-size: 14px;
    }

    .table__textarea {
        padding: 5px;
        resize: none;
        width: calc(100% - 30px);
        height: 60px;
    }
}

.table__task-column {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $mobileS) {
        width: 216px;
    }
    @media screen and (min-width: $mobileM) {
        width: 252px;
    }
    @media screen and (min-width: $mobileL) {
        width: 302px;
    }

    @media screen and (min-width: $tablet) {
        width: 260px;
    }

    @media screen and (min-width: $laptop) {
        width: 300px;
    }

    @media screen and (min-width: $desktop) {
        width: 215px;
    }
}

.table__hours-column {
    border-left: 1px solid $line_color;

    @media screen and (min-width: $mobileS) {
        width: 60px;
    }

    @media screen and (min-width: $tablet) {
        border-right: 1px solid $line_color;
    }

    @media screen and (min-width: $laptop) {
        width: 70px;
    }

    @media screen and (min-width: $desktop) {
        width: 60px;
    }
}

.table__teacher-column {
    @media screen and (min-width: $mobileS) {
        width: 100%;
    }

    @media screen and (min-width: $tablet) {
        width: 375px;
    }

    @media screen and (min-width: $laptop) {
        width: 530px;
    }

    @media screen and (min-width: $desktop) {
        width: 315px;
    }
}

.table__item__bigger-mobile {
    @media screen and (min-width: $mobileS) {
        width: 278px;
    }
    @media screen and (min-width: $mobileM) {
        width: 313px;
    }
    @media screen and (min-width: $mobileL) {
        width: 363px;
    }

    @media screen and (min-width: $tablet) {
        width: 260px;
    }

    @media screen and (min-width: $laptop) {
        width: 300px;
    }

    @media screen and (min-width: $desktop) {
        width: 215px;
    }
}

.table__item__hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.table__item__show {
    opacity: 1;
    visibility: visible;
}

.table__item-width__hidden {
    width: 0;
    height: 0;
}

.table__item-width__show {
    width: 100% ;
    height: auto;
}

.table__item-height__hidden {
    height: 0;
}

.table__item-height__show {
    @media screen and (min-width: $mobileS) {
        height: 100px;
    }
    @media screen and (min-width: $tablet) {
        height: 60px;
    }
}
