@import "../../../../../styles/theme.scss";

.selector {
    width: 100%;

    .MuiAutocomplete-input {
        padding-left: 10px !important;
    }

    .MuiPaper-elevation {
        li {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
}
