@import "../../../../../styles/theme.scss"; 

.selector {
    width: 100%;
    .MuiAutocomplete-input {
        text-align: center;
    }

    .MuiPaper-elevation {
        li {
            display: flex;
            align-items: center;
            @media screen and (min-width: $tablet) {
                flex-direction: column;
            }
        }
    }
}